services:
  db:
    image: postgres:16
    container_name: bndes-postgres
    environment:
      POSTGRES_DB: bndes_projetos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
