server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bndes_projetos
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
app:
  jwt:    
    secret: "minha-chave-super-secreta-para-jwt-1234567890"
    expirationMinutes: 120

